body, html{
    background-color: black;
    font-family: 'Catamaran', sans-serif;
    height: 100%;
}


.openingOverlay::before {
  filter: blur(20px);
}


.openingOverlay{
  position: fixed;
  margin-top: -50px;
  /*width: 1000px;*/
  /*height: 100%;*/
  /*backdrop-filter: blur(5px);*/
  background-color: rgba(0,0,0,.9);
  -webkit-backdrop-filter: blur(5px);

  z-index: 5;
  /*border-right: dashed .5px gray;*/
  /*color: white;*/
  /*left: 200px;*/
}

@supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
  .openingOverlay {
    background-color: rgba(255, 255, 255, .5);
    -webkit-backdrop-filter: blur(2em);
    backdrop-filter: blur(2em);
  }
}





html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.imagesContainer {
    /*padding-top: 40px;*/
    position:absolute;
    width: 50%;
    height: 100%;
    left: 15%;
    background-color: black;
    z-index: 0;
}



.dataSummary{
  float:left;
  position: absolute;
  font-size: 15px;
  color: white ;
  margin-top: 10px;
  margin-left: 8px;
  z-index: -1;
  /*top: 10px;*/
  /*left: 25%;*/
}

.label {
  fill: white;
  font-size: 15px;
}

.chartsContainer {
  /*display: inline;*/
  /*width: 100%;*/
    position:absolute;
    margin-left: 45%;
    width: 100%;
    height: 100%;
    margin-top:1%;
    background-color: rgba(0,0,0,.5);
}


.lineChartsDiv{
  margin-top: 20px;
}


img{
    position:absolute;
    height: 100%;
    opacity: 0;
    z-index: 0;
}

.buttons{
  position: absolute;
  z-index: 4;
  width: 2px;
  /*float:left;*/
}

.dateRange{
    /*margin-left:27px;*/
    /*padding-top: 10px;*/
}


.dateRangeTicks{
  font-size: 20px;
  height: 0px;
  padding-bottom: 15px;
}


input[type=range] {
  -webkit-appearance: none;
  /*width: 100%;*/
  /*margin: 8.95px 0;*/
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  /*width: 100%;*/
  height: 3.1px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: gray;
  border-radius: 0px;
  border: 0px solid rgba(1, 1, 1, 0);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 1px solid #000000;
  height: 21px;
  width: 20px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8.95px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #c2c2c2;
}
input[type=range]::-moz-range-track {
  /*width: 100%;*/
  height: 3.1px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: gray;
  border-radius: 0px;
  /*border: 0px solid rgba(1, 1, 1, 0);*/
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 1px solid #000000;
  height: 21px;
  width: 20px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 50%;
  height: 3.1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #c2c2c2;
  border: 0px solid rgba(1, 1, 1, 0);
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-fill-upper {
  background: #c2c2c2;
  border: 0px solid rgba(1, 1, 1, 0);
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 1px solid #000000;
  height: 21px;
  width: 20px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  height: 3.1px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #c2c2c2;
}
input[type=range]:focus::-ms-fill-upper {
  background: #c2c2c2;
}




.tick text {
    fill: gray;
    font-family: 'Catamaran', sans-serif;
    font-size: 12px;
}

.tick text {
    fill: gray;
    font-family: 'Catamaran', sans-serif;
    font-size: 12px;
}

.tick line {
    stroke: white;
    stroke-width: .1px;
}
/*  TIMELINE SLIDER TICKS */
.timelineTicks .tick text {
    fill: #cecece;
    font-family: 'Catamaran', sans-serif;
    font-size: 10px;
}

input:focus {outline:none;}


input {border:0; outline:none;}

#start, #stop {
    font-size: 15px;
    position:absolute;
    margin-top: 7px;
    color: black;
    background-color: black;
    border: 0;
    z-index: -2;
    -webkit-text-fill-color: white;

}


#start:hover, #stop:hover {
    /*font-size: 15px;*/
    /*position:absolute;*/
    /*margin-top: 7px;*/
    /*color: black;*/
    /*background-color: black;*/
    /*border: 0;*/
cursor: pointer;
-webkit-text-fill-color: gray;

}

/*#stop {*/
/*    position: absolute;*/
/*    margin-top: 10px;*/
/*    color: black;*/
/*    background-color: black;*/
/*    -webkit-text-fill-color: white;*/
/*    border: 0;*/
/*}*/

/*#start {*/
/*    -webkit-text-fill-color: #6dc925;*/
/*} */

/*#stop {*/
/*    -webkit-text-fill-color: white;*/
/*} */

#start:focus{
    /*background: gray!important;*/
    /*background: #6dc925!important;*/
    outline: 0!important;
}

#stop:focus{
    /*background: gray!important;*/
    /*background: #6dc925!important;*/
    outline: 0!important;
}


.overlay {
  fill: none;
  pointer-events: all;
  color: "white";
}

.focus{
  fill: white;
  color: white;
}

.focus circle {
  fill: none;
  stroke: white;
}

.timelineTicks{
  margin-left:25px;
  /*fill: gray;*/
  margin-left: 20;
}



.x.axis path {
  display: none;
}

/*g .tick text {*/
/*  fill: white;*/
/*}*/


.title{
  font-size: 25px;
/*font-family: 'IBM Plex Mono', monospace;*/
  font-weight: lighter;
  color: #cecece;
  /*z-index: 2;*/
  padding-bottom: 20px;
  margin-left: 40px;
  /*width: 30%;*/
  /*left: 90%;*/
}

.mapLabel{
  font-size: 25px;
  font-weight: bold;
  color: white;
  z-index: 2;
  padding-bottom: 10px;
  /*left: 90%;*/
}

.mapLabelSub{
  font-size: 14px;
  font-weight: lighter;
  color: gray;
  margin-top: -30px;
  margin-left: 40px;

}

.dataSummary{
  position:absolute;
  font-weight: lighter;
  font-size: 15px;
  z-index: 1;
  /*width:100%;*/
  /*fill: #adadad;*/
  margin-left: 5px;
  margin-top: 10px;
  color: white;
  /*border-top: 1px solid white;*/
  /*margin-top: 22%;*/


}


.mapTitle{
  position: absolute;
  font-size: 15px;
  font-weight: lighter;
  color: #adadad;
  left: 5%;
  z-index: 2;
  top:80%;
}

#mapTitleDate{
  font-size: 30px;
  margin-top:20px;
  margin-bottom:20px;
}


/*
 * Author: http://stuffandnonsense.co.uk/blog/about/hardboiled_css3_media_queries/
 */

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}


.scatterplotWrapper{
  /*display:none;*/
  /*position: absolute;*/
  /*top: 0%;*/
  width: 100%;

  /*height: 105%;*/
  /*background-color: white;*/
}

.scatterplotTitle{
  font-family: 'IBM Plex Mono', monospace;
  color: white;
  width: 100%;
  text-align: left;
  font-size: 14px;
}

.openingText{
  /*width: 100%;*/
  margin-top: 10%;
  /*margin-left: 25%;*/
  /*margin-right: 25%;*/
  
  text-align: left;
  color: white;
  
}


.paragraph{
  width: 40%;
  /*margin-top: 2%;*/
  margin-left: 30%;
  margin-right: 30%;
  text-align: left;
  color: white;
  font-size: 22px;
  
}

.emphasize{
  font-weight: bold;
  font-size: 32px;
}


.chartText{
  font-size: 14px;
  fill: white ;
}



/*@media only screen */
/*and (min-width : 400px) {*/
/* .chartsContainer {*/
/*    position:absolute;*/
/*    left: 0%;*/
/*    width: 90%;*/
/*    height: 100%;*/

/*    background-color: rgba(0,0,0,.5);*/
/*    }*/
/*}*/

@media only screen and (max-width: 725px) {
    .chartsContainer {
    position:absolute;
    left: 0%;
    width: 90%;
    height: 100%;
    margin-left:5%;
    margin-right:5%;
    /*margin-top:5%;*/
    background-color: rgba(0,0,0,.5);
    }
}


.annotationText{
  fill: gray;
  font-weight: bold;
  padding-left: 20px;
}

.titlesDiv {
  visibility: visible;
  /*background-color: white;*/
  /*margin-bottom: 20px;*/
  border-bottom: 1px gray dashed ;
}


.scatterTooltip {
  width: 150px;
  /*height: 40px;*/
  font-size: 12px;
  text-align: center;
  position: absolute;
  color: white;
  /*background-color: rgba(0,0,0,.8);*/
}


.stickyheader{
  /*position: fixed;*/
  /*z-index: 3*/
}


.lineChartsDiv div{
  
  margin-bottom: 1%;
  
}


.fa-info-circle{
  font-size: 15px;
  position: absolute;
  color: gray;
  margin-top: 20px;
  transform: rotate(-90deg);
  /*fill: white;*/
  /*background-color: white;*/
}

/*.fa-info-circle:hover{*/
/*  color: green;*/

/*}*/